<a href="https://colab.research.google.com/github/ido177/colab/blob/main/databases_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!gdown --id 1BSHIKQ7rFw5BpTq5nw1UZfjPK_7Mpnbi
!mv _sqlite3.cpython-37m-x86_64-linux-gnu.so /usr/lib/python3.7/lib-dynload/
import os
os.kill(os.getpid(), 9)

Downloading...
From: https://drive.google.com/uc?id=1BSHIKQ7rFw5BpTq5nw1UZfjPK_7Mpnbi
To: /content/_sqlite3.cpython-37m-x86_64-linux-gnu.so
6.33MB [00:00, 20.1MB/s]

# Загрузка БД

In [ ]:
import pandas as pd
import numpy as np
import sqlite3

In [ ]:
sqlite3.sqlite_version

'3.36.0'

In [ ]:
con = sqlite3.connect('db')

In [ ]:
!gdown --id 1Gj0qVU0Acv-HqRjTIEwvkO4TqJYijehR

Downloading...
From: https://drive.google.com/uc?id=1Gj0qVU0Acv-HqRjTIEwvkO4TqJYijehR
To: /content/german_credit_augmented.csv
100% 69.6k/69.6k [00:00<00:00, 1.09MB/s]

In [ ]:
df = pd.read_csv('/content/german_credit_augmented.csv')

In [ ]:
df.head()

   age     sex  job housing  ...    purpose default         contract_dt  client_id
0   33    male    2     own  ...   radio/TV       0 2008-06-29 18:52:00        210
1   43    male    1     own  ...        car       0 2007-05-20 18:30:19        929
2   52    male    2     own  ...  education       0 2008-04-27 08:23:07        200
3   35  female    3     own  ...        car       0 2007-05-06 10:58:22         45
4   28    male    2     own  ...   radio/TV       0 2007-07-21 13:22:14        358

[5 rows x 12 columns]

head выводит 5 первых значений, tail - 5 последних

In [ ]:
df['contract_dt'] = pd.to_datetime(df['contract_dt'],format='%Y-%m-%d %H:%M:%S')

to_datetime меняет формат данных в дату
% помогает указать переменную

In [ ]:
df.dtypes

age                          int64
sex                         object
job                          int64
housing                     object
saving_accounts             object
checking_account            object
credit_amount                int64
duration                     int64
purpose                     object
default                      int64
contract_dt         datetime64[ns]
client_id                    int64
dtype: object

возможные типы данных

In [ ]:
df.to_sql('german_credit',con,index=False,if_exists='replace')

Заливаем таблицу в БД
Название, выбор бд, наличие индекса, замена существующих

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

функция селекта