<a href="https://colab.research.google.com/github/ido177/colab/blob/main/udemy/Courses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
!gdown --id 1hCTK5CO48wzk8nFCcWS4TV19rLFk8ekG

Downloading...
From: https://drive.google.com/uc?id=1hCTK5CO48wzk8nFCcWS4TV19rLFk8ekG
To: /content/Udemy+Courses.csv
100% 492k/492k [00:00<00:00, 68.3MB/s]

In [3]:
df = pd.read_csv(r"Udemy+Courses.csv")

In [4]:
df

      course_id  ...              subject
0        288942  ...  Musical Instruments
1       1170074  ...  Musical Instruments
2       1193886  ...  Musical Instruments
3       1116700  ...  Musical Instruments
4       1120410  ...  Musical Instruments
...         ...  ...                  ...
3677     328960  ...      Web Development
3678     552700  ...  Musical Instruments
3679     631754  ...      Web Development
3680    1225194  ...     Business Finance
3681     964478  ...       Graphic Design

[3682 rows x 11 columns]

1. What are the deffrent subject Udemy offers?

In [7]:
df.head(1)

   course_id  ...              subject
0     288942  ...  Musical Instruments

[1 rows x 11 columns]

In [6]:
df['subject'].unique()

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

2. find out the max number of courses each category has

In [10]:
df.subject.value_counts()

Web Development        1200
Business Finance       1199
Musical Instruments     680
Graphic Design          603
Name: subject, dtype: int64

3. Show all courses which are free of cost

In [11]:
df.head(1)

   course_id  ...              subject
0     288942  ...  Musical Instruments

[1 rows x 11 columns]

In [17]:
df[df.is_paid == False].shape

(310, 11)

In [20]:
df[df.is_paid == True].head()

   course_id  ...              subject
0     288942  ...  Musical Instruments
1    1170074  ...  Musical Instruments
2    1193886  ...  Musical Instruments
3    1116700  ...  Musical Instruments
4    1120410  ...  Musical Instruments

[5 rows x 11 columns]

5. Which are the top selling courses

In [21]:
df.head(1)

   course_id  ...              subject
0     288942  ...  Musical Instruments

[1 rows x 11 columns]

In [25]:
df[df.is_paid == True].sort_values('num_subscribers', ascending = False)

      course_id  ...              subject
3385     625204  ...      Web Development
3316     764164  ...      Web Development
2233      94430  ...      Web Development
2034     364426  ...      Web Development
2829     238934  ...  Musical Instruments
...         ...  ...                  ...
1132    1047408  ...       Graphic Design
3467    1214670  ...  Musical Instruments
1185     837322  ...     Business Finance
1186     837322  ...     Business Finance
2900     995384  ...       Graphic Design

[3372 rows x 11 columns]

7. all the cources pf grafic design where the prices are below $100

In [40]:
df[(df.subject == 'Graphic Design') & (df.price <= '101')].head()

     course_id  ...         subject
47     1269190  ...  Graphic Design
169     983444  ...  Graphic Design
184     638040  ...  Graphic Design
520     978462  ...  Graphic Design
699     757900  ...  Graphic Design

[5 rows x 11 columns]

8. Find out all the courses whoch are related to Python

In [42]:
df[df.course_title.str.contains('Python')].head()

      course_id  ...          subject
216      599504  ...  Web Development
777       47963  ...  Web Development
814      631128  ...  Web Development
842      186096  ...  Web Development
1400     394832  ...  Web Development

[5 rows x 11 columns]

9. Courses published in 2017

In [43]:
df.head(1)

   course_id  ...              subject
0     288942  ...  Musical Instruments

[1 rows x 11 columns]

In [45]:
df['published_timestamp'] = pd.to_datetime(df.published_timestamp)

In [49]:
df['Year'] = df['published_timestamp'].dt.year

In [51]:
df[df.Year == 2017].head()

   course_id  ...  Year
1    1170074  ...  2017
2    1193886  ...  2017
3    1116700  ...  2017
4    1120410  ...  2017
5    1122832  ...  2017

[5 rows x 12 columns]

10. What are the maximum number of subs for each level of courses

In [52]:
df.head(1)

   course_id  ...  Year
0     288942  ...  2014

[1 rows x 12 columns]

In [54]:
df.level.unique()

array(['All Levels', 'Intermediate Level', 'Beginner Level',
       'Expert Level'], dtype=object)

In [56]:
df.groupby('level')['num_subscribers'].max()

level
All Levels            268923
Beginner Level        161029
Expert Level            5172
Intermediate Level     29167
Name: num_subscribers, dtype: int64